<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">Stories Library</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">Публічні історії</a></li>
            <li><a href="/dashboard">Панель керування</a></li>
            <li><a href="/auth/logout">Вихід</a></li>
        </ul>
    </div>
</nav>